.darktext, h1, h2, h3, h4, h5 {
  color: #222; }

.lighttext, body {
  color: #444; }

body {
  background-color: #757575;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 40px;
  padding-top: 20px; }

.container {
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border-radius: 4px;
  padding-left: 50px;
  padding-right: 50px; }

.tag-line {
  color: #222;
  font-size: 1.1em;
  font-weight: 700; }
