@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Droid+Serif:400,700);
.sansfont, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif; }

.seriffont, h1 {
  font-family: 'Droid Serif', serif; }

.darktext, h1, h2, h3, h4, h5, h6 {
  color: #111; }

.lighttext, body, h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small {
  color: #222; }

.basefontsize, html, body {
  font-size: 15px; }

body {
  background: repeating-linear-gradient(-35deg, #222, #222 10px, #333 10px, #333 20px);
  font-weight: 400;
  padding-bottom: 40px;
  padding-top: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem; }

h2 {
  font-size: 1.6rem;
  margin-top: 1rem; }

h3 {
  font-size: 1.4rem;
  margin-top: 1.5rem; }

h4 {
  font-size: 1.2rem;
  margin-top: 1.2rem; }

h5 {
  font-size: 1.1rem; }

h6 {
  font-size: 1.0rem; }

.container {
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border-radius: 4px;
  padding-left: 50px;
  padding-right: 50px; }

.tag-line {
  color: #111;
  font-size: 1.1em;
  font-weight: 700; }

.h-card {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dashed #ccc; }

.h-event .p-name {
  font-weight: 600; }

.p-contact.h-card {
  border-bottom-style: solid; }

.fa-star, .fa-star-o, .fa-star-half-o {
  color: #666; }
