$lightText:#222;
$darkText:#111;
$backgroundColor:#757575;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
          -ms-border-radius: $radius;
                  border-radius: $radius;
}

.sansfont {
    font-family: 'Open Sans', sans-serif;
}
.seriffont {
    font-family: 'Droid Serif', serif;
}
.darktext {
    color:$darkText;
}
.lighttext {
    color:$lightText;
}
.basefontsize {
    font-size: 15px;
}

html {
    @extend .basefontsize;
}

body {
    @extend .lighttext;
    @extend .sansfont;
    @extend .basefontsize;
    background: repeating-linear-gradient(
      -35deg,
      #222,
      #222 10px,
      #333 10px,
      #333 20px
    );
    font-weight: 400;
    padding-bottom:3em;
    padding-top:5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:600;
    @extend .darktext;
    @extend .sansfont;
    small, .small {
        @extend .lighttext;
    }
}
h1 {
    @extend .seriffont;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 1rem;
}

h2 {
    font-size: 1.6rem;
    margin-top: 1rem;
}

h3 {
    font-size: 1.4rem;
    margin-top: 1.5rem;
}

h4 {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    
    font-size: 1.0rem;
}



.container {
    background-color: #FFFFFF;
    @include border-radius(4px);
    border-radius: 4px;
    padding-left: 50px;
    padding-right: 50px;
    min-height:90vh;
}

.tag-line {
    color: $darkText;
    font-size:1.1em;
    font-weight: 700;
}


.h-card {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px dashed #ccc;
}

.h-event {
    .p-name {
        font-weight:600;
    }
}

.p-contact {
    &.h-card {
        border-bottom-style:solid;
    }
}

.fa-star, .fa-star-o, .fa-star-half-o {color:#666;}

// For printing only
@media print {
    body {
        margin: 0;
        padding: 0;
        color: #000;
        font-size:12px;
    }
    .container {
        max-width:initial;
        margin:0 .5em;
        padding:0;
    }
}